<div class="footer">
    <br>
    <h4 style="color:antiquewhite"> </h4>
    <h6 style="color:antiquewhite;">MyBea is an Increasing Indian online travel company founded in 2023.</h6>
    <h6 style="color: antiquewhite;">Please give us your <a href="" style="color:antiquewhite"><b> feedback</b></a> for better experience </h6>
    <h3><br>
      <a href="" class="mx-3" style="text-decoration: none; color: antiquewhite;">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="" class="mx-3" style="text-decoration: none;color: antiquewhite;">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="" class="mx-3" style="text-decoration: none;color: antiquewhite;">
        <i class="bi bi-whatsapp"></i>
      </a>
      <a href="" class="mx-3" style="text-decoration: none;color: antiquewhite;">
        <i class="bi bi-linkedin"></i>
      </a>
      <a href="" class="mx-3" style="text-decoration: none;color: antiquewhite;">
        <i class="bi bi-google"></i>
      </a>
      <a href="" class="mx-3" style="text-decoration: none;color: antiquewhite;">
        <i class="bi bi-pinterest"></i></i>
      </a>
      <a href="" class="mx-3" style="text-decoration: none;color: antiquewhite;">
        <i class="bi bi-twitter"></i>
      </a>
    </h3>
    <br><br><br>
    <hr style="color: antiquewhite;">
    <table style="width: 100%;">
      <tr>
        <td>
            <div style="text-align: left;">
      <p style="color: aliceblue; font-size: x-small;">Copyright ©2023 MyBea | <a href="">terms & conditions</a> | <a href="/about"> About Us</a> | <a href="/feedback"> feedback</a></p>

    </div>

        </td>
        <td>
            <div style="text-align: right;">
      <p style="color: aliceblue; font-size: x-small;">+91 75650 87832 | gaurikasharma209@gmail.com | Banda, Uttar Pradesh | </p>
      
    </div>

        </td>
      </tr>
    </table>
  
  
  </div>