<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 
<link rel="stylesheet" href="public/css/style.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <link rel="icon" href="public/img/icone/logo.png" type="image/x-icon">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<link rel="stylesheet" href="public/css/style.css">
<link rel="stylesheet" href="public/css/scroll.css">
<link rel="stylesheet" href="public/css/footer.css">
<title>About Us</title>
</head>     
<body >
  {{#if obj.login }}{{> header login='true' username = obj.userName}}{{else}}{{> header}}{{/if}}
  {{!-- <div style="background-image: url(https://free4kwallpapers.com/uploads/originals/2015/07/19/website-background.jpg); background-repeat: no-repeat;background-attachment: fixed;background-size: 100% 100%">
    <div class="container"><br><br><br>
      <img src="public/img/icone/logo1.png" width="450" alt=""><br><br><br>
      
       
    </div> --}}
    
    {{!-- <h1><img src="https://thumbs.dreamstime.com/b/time-to-travel-wooden-sign-beach-background-49509295.jpg"style="padding: 2px; width: 100%;" alt=""> --}}
    <img src="https://www.easemytrip.com/images/offer-img/producticons/special_banner_deal1.png"style="width: 100%;" alt=""><br><br>
 
    <div class="container"><br><hr>

       
        <h3><b>About Us</b></h3>
         <table>
            <tr>
                <td>
                    <h6>
                       The project at hand is a comprehensive online ticket booking application that aims to
provide users with a seamless and efficient way of booking their travel tickets through
a distributed client-server computing technology. This platform is designed to offer
three different types of ticket booking services, including bus, train, and flight
bookings. <br><br>
To access the platform, users are required to register or sign up, after which they can
easily access and use the ticket booking services provided. The platform is mobilefriendly, and users can easily access their travel tickets on their respective phones. <br><br>
Our project title is MyBea in which Bea stands for bringer of happiness or blessed we
have named it this because travelling is always a fun activity so it’s kind of termed as
“my bringer of joy”. <br><br>
One of the unique features of this platform is the inclusion of an A.I. system that
suggests nearby popular places to users, based on their destination. This feature is
designed to provide users with a more fulfilling travel experience and enables them to
explore their travel destinations more effectively.
When booking a bus ticket, users can choose their preferred bus and seats based on their
preferences. The platform provides detailed information about the available buses,
including their seating capacity, departure and arrival times, and route maps. This
information is obtained through the use of APIs that fetch the relevant data about the
buses. <br><br>
For flight bookings, the platform allows users to input their source and destination
locations, after which it shows them the availability of flights based on their choices.
The users can then proceed to book their preferred seats on the flight of their choice.
This is also achieved by utilizing APIs to fetch the data about the flights. <br><br>
Similarly, users can book train tickets on their preferred trains using the platform. The
platform provides users with information about the available trains, including their
departure and arrival times, seating capacity, and route maps. The use of APIs enables
the platform to fetch and display the relevant train data to users. <br><br>
To store user data, the platform utilizes MongoDB, a widely used NoSQL database.
The frontend of the platform is developed using React JS, which is known for its high
performance and flexibility. Payment acceptance is strictly in online mode, and the
platform utilizes Tailwind to provide users with a seamless payment experience. <br><br>
In summary, the online ticket booking application developed by MyBea offers users a
comprehensive and efficient way of booking their travel tickets. The platform is built
using cutting-edge technologies, including MongoDB and React JS, which ensures that
users enjoy a seamless and hassle-free experience.
                    </h6>

                </td>
                 
            </tr>
         </table>

    </div>
 <div class="container">
    <br><hr><h3><b>
        Team Member of MyBea
</b>
    </h3>
    <h6>
        The members comprising our project team have been outstanding in terms of their honesty, intelligence, and unwavering work ethic. Their exceptional level of dedication and professionalism has been consistently displayed throughout the duration of our project, and we cannot help but express our immense gratitude to our esteemed group leader, <b> Ms. Gaurika Sharma. </b><br><br>

<b> Ms. Gaurika's </b>contributions to our project have been invaluable, and her guidance and direction have played a pivotal role in the success of our team. Her exceptional leadership skills have kept us well-organized and motivated, and we are truly fortunate to have such a talented and experienced leader at the helm. <br><br>

We take immense pride in being part of this exceptional team, and we are excited about the prospect of future successes under <b> Ms. Gaurika's </b>guidance. We cannot thank her enough for her unwavering support and leadership, and we look forward to the continued growth and development of our team under her tutelage.
    </h6>
    <br>
    <div class="row my-2">
        <div class="col-12 col-md-6 col-xl-6 my-2">
          <div class="card" style="width: 100%; padding: 10px;">
            <table>
        <tr>
          <td style="width:40%">
                  <img src="public/img/Team_Member/girl.png" style=" border-radius: 50%;" class="card-img-top" alt="...">
            </td>
            <td>
                <h6><b><i class="bi bi-person-fill"></i> Gaurika Sharma</b></h6>
                <h6><i class="bi bi-envelope-at-fill"></i> gaurikasharma209@gmail.com</h6>
                <h6><i class="bi bi-telephone-fill"></i> +91 75650-87832 </h6>
                <h6><i class="bi bi-geo-alt-fill"></i> Jhanda chauraha Banda, Uttar Pradesh, 210001</h6>
                <h6><i class="bi bi-award-fill"></i></i> Team Leader </h6>
                <h6><i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i> 
                <i class="bi bi-whatsapp"></i> <i class="bi bi-linkedin"></i> <i class="bi bi-google"></i> <i class="bi bi-twitter"></i> <i class="bi bi-pinterest"></i> <i class="bi bi-git"></i> <i class="bi bi-info-square-fill"></i>
                
                </h6>
                 
                 

            </td>
            <td>

            </td>
        </tr>
    </table>
            </div>
          </div>
          <div class="col-12 col-md-6 col-xl-6 my-2 ">
          <div class="card" style="width: 100%; padding: 10px;">
            <table>
        <tr>
          <td style="width:40%">
                  <img src="public/img/Team_Member/girl.png" style=" border-radius: 50%;" class="card-img-top" alt="...">
            </td>
            <td>
               <h6><b><i class="bi bi-person-fill"></i> Anjali Shukla</b></h6>
                <h6><i class="bi bi-envelope-at-fill"></i> anjalishukal2608@gmail.com</h6>
                <h6><i class="bi bi-telephone-fill"></i> +91 89319-04789 </h6>
                <h6><i class="bi bi-geo-alt-fill"></i> Navab Taink Banda, Uttar Pradesh, 210001</h6>
                <h6><i class="bi bi-award-fill"></i></i> Frontend Developer </h6>
                <h6><i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i> 
                <i class="bi bi-whatsapp"></i> <i class="bi bi-linkedin"></i> <i class="bi bi-google"></i> <i class="bi bi-twitter"></i> <i class="bi bi-pinterest"></i> <i class="bi bi-git"></i> <i class="bi bi-info-square-fill"></i>
                
                </h6>
                 

            </td>
            <td>

            </td>
        </tr>
    </table>
            </div>
          </div><br>

           <div class="col-12 col-md-6 col-xl-6 my-2 ">
          <div class="card" style="width: 100%; padding: 10px;">
            <table>
        <tr>
          <td style="width:40%">
                  <img src="public/img/Team_Member/girl.png" style=" border-radius: 50%;" class="card-img-top" alt="...">
            </td>
            <td>
               <h6><b><i class="bi bi-person-fill"></i> Sonali</b></h6>
                <h6><i class="bi bi-envelope-at-fill"></i> sonalichoudhry508@gmail.com</h6>
                <h6><i class="bi bi-telephone-fill"></i> +91 88401-51609 </h6>
                <h6><i class="bi bi-geo-alt-fill"></i> New market ,Ramlila ground Banda, Uttar Pradesh, 210001</h6>
                <h6><i class="bi bi-award-fill"></i></i> UX/UI Designer </h6>
                <h6><i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i> 
                <i class="bi bi-whatsapp"></i> <i class="bi bi-linkedin"></i> <i class="bi bi-google"></i> <i class="bi bi-twitter"></i> <i class="bi bi-pinterest"></i> <i class="bi bi-git"></i> <i class="bi bi-info-square-fill"></i>
                
                </h6>
                 

            </td>
            <td>

            </td>
        </tr>
    </table>
            </div>
          </div>
           <div class="col-12 col-md-6 col-xl-6 my-2 ">
          <div class="card" style="width: 100%; padding: 10px;">
            <table>
        <tr>
          <td style="width:40%">
                  <img src="public/img/Team_Member/girl.png" style=" border-radius: 50%;" class="card-img-top" alt="...">
            </td>
            <td>
               <h6><b><i class="bi bi-person-fill"></i> Vaishali Gupta</b></h6>
                <h6><i class="bi bi-envelope-at-fill"></i> vaishaligupta73765@gmail.com</h6>
                <h6><i class="bi bi-telephone-fill"></i> +91 63945-12899 </h6>
                <h6><i class="bi bi-geo-alt-fill"></i> Maheshvari Devi, Banda, Uttar Pradesh, 210001</h6>
                <h6><i class="bi bi-award-fill"></i></i> Project Designer </h6>
                <h6><i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i> 
                <i class="bi bi-whatsapp"></i> <i class="bi bi-linkedin"></i> <i class="bi bi-google"></i> <i class="bi bi-twitter"></i> <i class="bi bi-pinterest"></i> <i class="bi bi-git"></i> <i class="bi bi-info-square-fill"></i>
                
                </h6>
                 

            </td>
            <td>

            </td>
        </tr>
    </table>
            </div>
          </div><br>
           <div class="col-12 col-md-6 col-xl-6 my-2">
          <div class="card" style="width: 100%; padding: 10px;">
            <table>
        <tr>
          <td style="width:40%">
                  <img src="public/img/Team_Member/vineet.png" style=" border-radius: 50%;" class="card-img-top" alt="...">
            </td>
            <td>
               <h6><b><i class="bi bi-person-fill"></i> Vineet Krishna Gupta</b></h6>
                <h6><i class="bi bi-envelope-at-fill"></i> vineetkrishnagupta@gmail.com</h6>
                <h6><i class="bi bi-telephone-fill"></i> +91 63945-12899 </h6>
                <h6><i class="bi bi-geo-alt-fill"></i> 39, Purvi Katra, Banda, Uttar Pradesh, 210001</h6>
                <h6><i class="bi bi-award-fill"></i></i> Backend & Database Administrator<i class="bi bi-database-down"></i></h6>
                <h6><i class="bi bi-facebook"></i> <i class="bi bi-instagram"></i> 
                <i class="bi bi-whatsapp"></i> <i class="bi bi-linkedin"></i> <i class="bi bi-google"></i> <i class="bi bi-twitter"></i> <i class="bi bi-pinterest"></i> <i class="bi bi-git"></i> <i class="bi bi-info-square-fill"></i>
                
                </h6>
                 

            </td>
            <td>

            </td>
        </tr>
    </table>
            </div>
          </div>
      </div>
    
 </div>
 
  <div>
    <div class="container" style="margin-bottom: 200px;"><hr>
      <h3><b>Download our App on Android or iPhone and get the best trip deals across India </b></h3><br>
      
      <table><tr><th><img src="https://www.investopedia.com/thmb/hJrIBjjMBGfx0oa_bHAgZ9AWyn0=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/qr-code-bc94057f452f4806af70fd34540f72ad.png" width="160" alt=""></th><th><h6><img src="https://thumbs.dreamstime.com/b/basic-rgb-179717724.jpg" width="200" alt=""></h6></th><th>Rating <br>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-half"></i></i><br>4.4 <br><br>
      Rating <br>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-half"></i></i>
      <i class="bi bi-star"></i><br>3.4
      </th></tr></table>
      
    </div>
  </div>
  <hr>
    {{>footer}}
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
