<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 
<link rel="stylesheet" href="public/css/style.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<link rel="stylesheet" href="public/css/style.css">
<link rel="stylesheet" href="public/css/scroll.css">
<link rel="stylesheet" href="public/css/footer.css">
<link rel="icon" href="public/img/icone/logo.png" type="image/x-icon">
<title>MyBea Buses</title>
</head>     
<body style="background-image: url(https://i.pinimg.com/736x/f1/5e/0f/f15e0fdc3c87c48847f76b02adb9c9a4.jpg); background-repeat: no-repeat;background-attachment: fixed;background-size: 100% 100%"></body>
  {{#if obj.login }}{{> header login='true' username = obj.userName}}{{else}}{{> header}}{{/if}}
 
 
     {{>bus_schedule_form}}
    
 
<hr>
<div>
    <div class="container">
      <div>
        <h3><b>Here's why travellers choose MyBea</b></h3>
      </div>
      <div class="row">
        <div class="col-12 col-md-3 col-xl-3 ">
          <div class="card">
            <div class="card-body">
              <h1><i class="bi bi-tags-fill"></i></h1>
              <h5 class="card-title"><b>Best travel deals</b></h5>
              <p class="card-text">Find the best deals available from 900+ travel sites.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3 col-xl-3 ">
          <div class="card">
            <div class="card-body">
              <h1><i class="bi bi-award-fill"></i></h1>
              <h5 class="card-title"><b>Trusted and free</b></h5>
              <p class="card-text">We're completely free to use - no hidden charges or fees.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3 col-xl-3 ">
          <div class="card">
            <div class="card-body">
              <h1><i class="bi bi-bootstrap-reboot"></i></i></h1>
              <h5 class="card-title"><b>Book with flexibility</b></h5>
              <p class="card-text">Easily find flights with no change fees.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3 col-xl-3 ">
          <div class="card">
            <div class="card-body">
              <h1><i class="bi bi-box-fill"></i></h1>
              <h5 class="card-title"><b>We know travel</b></h5>
              <p class="card-text">With 25 years of experience, we're ready to help find your perfect trip.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
   <div>

    <div class="container"><hr>
      <h3><b>Book Bus Tickets Online in India with MyBea </b></h3><br>
      <h6>India's largest company for bus ticket booking online, MyBea, offers an easy-to-use online platform, 7500+ bus operators to choose from, and plenty of offers on bus ticket booking to make road journeys super convenient for travellers. A leading platform for booking bus tickets, MyBea has driven the country's bus booking journey over the past 17 years through thousands of cities and routes in India. Striving to reach new heights regarding online bus reservations in India, MyBea has become the perfect platform to have a smooth bus ticket booking experience.

<br>
Anybody can use the official website of MyBea or download the user-friendly app from the play store and apple store to book bus tickets from anywhere in India. You can easily book an online bus from the comfort of your home, office, or vehicle. With these successful USPs, MyBea has expanded bus services internationally to countries like Singapore, Malaysia, Indonesia, Peru, and Colombia.

<br>
Booking a bus ticket online with MyBea is now more convenient than ever. After setting the industry standards other competitors have struggled to reach, MyBea has raised the bar again by providing a world-class bus booking experience.</h6>
      
    </div>
  </div>
  
  <div class="container"><hr>
      <h3><b> Why book bus tickets online through MyBea?</b></h3><br>
      <h6>Online bus booking offers more convenience, choice, and flexibility than offline booking. However, some people may prefer offline booking for various reasons, such as face-to-face interactions and cash payments. In addition, some people prefer to book a bus ticket through a travel agent or at a counter. However, people are recognising the advantages of online bus ticket booking now. Booking online bus tickets on MyBea offers several advantages over offline prehistoric booking modes.

<br><br><b>
1. Convenience:</b> Booking bus tickets online saves you the time and hassle of standing in long queues at the bus station or travelling to a ticketing office.
<br><br><b>
2. Availability:</b> Booking bus tickets online allows you to easily access and compare the availability of bus routes and schedules from multiple bus operators.
<br><br><b>
3. Discounts and Deals:</b> Many bus operators offer special discounts and deals for online bus bookings, which can help you save on travel expenses. Customers can even avail of exclusive discounts while making their bus reservations provided by bus booking sites like MyBea that cannot be matched by any value offered by a travel agent or a counter.
<br><br><b>
4. Secure payment:</b> Online booking platforms use secure gateways that protect your payment information and prevent fraud.
<br><br><b>
5. Assured Seats:</b> Many online booking platforms allow you to choose your preferred seat on the bus, giving you more control over your travel experience.
<br><br><b>
6. Real-time updates:</b> Online booking platforms provide real-time updates on bus schedules, delays, and cancellations, allowing you to plan your travel accordingly.
<br><br><b>
7. Compare Amenities:</b> Booking a bus online helps to filter out the bus based on amenities; one can choose amenities such as blankets, charging points, newspapers, snacks, water bottle etc.
<br><br><b>
8. Save money:</b> MyBea allow you to compare the pricing of the bus ticket between different bus operators. Therefore, one can book a ticket based on the budget without worrying about the price.

<br><br>
Booking bus tickets online is a convenient, time-saving, and cost-effective way to plan your travels. Customers can view every detail of the bus, including updated pictures, the type of bus, amenities offered, and much more, on the MyBea website and app.</h6>
      
    </div>
  </div>
  <hr>
  <div>

    <div class="container" style="margin-bottom: 2px;">
      <h3><b>Popular buses in India </b><img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/1200px-Flag_of_India.svg.png" width="40" alt=""></h3>
      <h6>Below are some important and famous buss in india. </h6>
      <hr>

      <div class="row my-2">
        <div class="col-12 col-md-6 col-xl-4 ">
          <div class="card" style="width: 100%; padding: 10px;">
            <table>
              <tr>
                <td style="width:30%">
                  <img src="public/img/city/bangalore.jpg" style=" border-radius: 50%;" class="card-img-top" alt="...">
                </td>
                <td class="mx-2">
                  <p style="margin-left : 5px;"><b> Buses From Bangalore To</b></p>
                  <p style="margin-top:-1em; margin-left : 5px;"><b>1.</b> Chennai,<br><b>2.</b> Hyderabad,<br><b>3.</b> Coimbatore,<br><b>4.</b> Mumbai,<br><b>5.</b> Goa</p>
                </td>
              </tr>
            </table>
          </div>
        </div>
         <div class="col-12 col-md-6 col-xl-4 ">
          <div class="card" style="width: 100%; padding: 10px;">
            <table>
              <tr>
                <td style="width:30%">
                  <img src="public/img/city/Chennai.jpg" style=" border-radius: 50%;" class="card-img-top" alt="...">
                </td>
                <td class="mx-2">
                  <p style="margin-left : 5px;"><b> Buses From Chennai To</b></p>
                  <p style="margin-top:-1em; margin-left : 5px;"><b>1.</b> Bangalore,<br><b>2.</b> Coimbatore,<br><b>3.</b> Madurai,<br><b>4.</b> Hyderabad,<br><b>5.</b> Trichy</p>
                </td>
              </tr>
            </table>
          </div>
        </div>
         <div class="col-12 col-md-6 col-xl-4 ">
          <div class="card" style="width: 100%; padding: 10px;">
            <table>
              <tr>
                <td style="width:30%">
                  <img src="public/img/city/Hyderabad.jpg" style=" border-radius: 50%;" class="card-img-top" alt="...">
                </td>
                <td class="mx-2">
                  <p style="margin-left : 5px;"><b> Buses From Hyderabad To</b></p>
                  <p style="margin-top:-1em; margin-left : 5px;"><b>1.</b> Bangalore,<br><b>2.</b> Chennai,<br><b>3.</b> Mumbai,<br><b>4.</b> Puna,<br><b>5.</b> Vijayawada</p>
                </td>
              </tr>
            </table>
          </div>
        </div>
        </div>

        <div class="row my-2">
        <div class="col-12 col-md-6 col-xl-4 ">
          <div class="card" style="width: 100%; padding: 10px;">
            <table>
              <tr>
                <td style="width:30%">
                  <img src="public/img/city/pure.jpg" style=" border-radius: 50%;" class="card-img-top" alt="...">
                </td>
                <td class="mx-2">
                  <p style="margin-left : 5px;"><b> Buses From Pune To</b></p>
                  <p style="margin-top:-1em; margin-left : 5px;"><b>1.</b> Goa,<br><b>2.</b> Bangalore,<br><b>3.</b> Nagpur,<br><b>4.</b> Hyderabad,<br><b>5.</b> Mumbai</p>
                </td>
              </tr>
            </table>
          </div>
        </div>
         <div class="col-12 col-md-6 col-xl-4 ">
          <div class="card" style="width: 100%; padding: 10px;">
            <table>
              <tr>
                <td style="width:30%">
                  <img src="public/img/city/delhi.jpg" style=" border-radius: 50%;" class="card-img-top" alt="...">
                </td>
                <td class="mx-2">
                  <p style="margin-left : 5px;"><b> Buses From Delhi To</b></p>
                  <p style="margin-top:-1em; margin-left : 5px;"><b>1.</b> Lucknow,<br><b>2.</b> Dehradum,<br><b>3.</b> Manali,<br><b>4.</b> Kanpur,<br><b>5.</b> Jaipur</p>
                </td>
              </tr>
            </table>
          </div>
        </div>
         <div class="col-12 col-md-6 col-xl-4 ">
          <div class="card" style="width: 100%; padding: 10px;">
            <table>
              <tr>
                <td style="width:30%">
                  <img src="public/img/city/mumbai.jpeg" style=" border-radius: 50%;" class="card-img-top" alt="...">
                </td>
                <td class="mx-2">
                  <p style="margin-left : 5px;"><b> Buses From Mumbai To</b></p>
                  <p style="margin-top:-1em; margin-left : 5px;"><b>1.</b> Bangalore,<br><b>2.</b> Goa,<br><b>3.</b> Pune,<br><b>4.</b> Indore,<br><b>5.</b> Ahmedabad</p>
                </td>
              </tr>
            </table>
          </div>
        </div>
        </div>

        <div class="row my-2">
        <div class="col-12 col-md-6 col-xl-4 ">
          <div class="card" style="width: 100%; padding: 10px;">
            <table>
              <tr>
                <td style="width:30%">
                  <img src="public/img/city/ahmedabad.jpg" style=" border-radius: 50%;" class="card-img-top" alt="...">
                </td>
                <td class="mx-2">
                  <p style="margin-left : 5px;"><b> Buses From Ahmedabad To</b></p>
                  <p style="margin-top:-1em; margin-left : 5px;"><b>1.</b> Mumbai,<br><b>2.</b> Rajkot,<br><b>3.</b> Surat,<br><b>4.</b> Pure,<br><b>5.</b> Indore</p>
                </td>
              </tr>
            </table>
          </div>
        </div>
         <div class="col-12 col-md-6 col-xl-4 ">
          <div class="card" style="width: 100%; padding: 10px;">
            <table>
              <tr>
                <td style="width:30%">
                  <img src="public/img/city/Coimbatore.jpg" style=" border-radius: 50%;" class="card-img-top" alt="...">
                </td>
                <td class="mx-2">
                  <p style="margin-left : 5px;"><b> Buses From Coimbatore To</b></p>
                  <p style="margin-top:-1em; margin-left : 5px;"><b>1.</b> Chennai,<br><b>2.</b> Bangalore,<br><b>3.</b> Madurai,<br><b>4.</b> Pondicherry,<br><b>5.</b> Nagercoil</p>
                </td>
              </tr>
            </table>
          </div>
        </div>
         <div class="col-12 col-md-6 col-xl-4 ">
          <div class="card" style="width: 100%; padding: 10px;">
            <table>
              <tr>
                <td style="width:30%">
                  <img src="public/img/city/Kolkata.jpg" style=" border-radius: 50%;" class="card-img-top" alt="...">
                </td>
                <td class="mx-2">
                  <p style="margin-left : 5px;"><b> Buses From Kolkata To</b></p>
                  <p style="margin-top:-1em; margin-left : 5px;"><b>1.</b> Durgapur,<br><b>2.</b> Asansol,<br><b>3.</b> Siliguri,<br><b>4.</b> Bhubaneshwar,<br><b>5.</b> Bardhaman</p>
                </td>
              </tr>
            </table>
          </div>
        </div>
        </div>
        
       
  </div>
  
  <div>
    <div class="container" style="margin-bottom: 200px;"><hr>
      <h3><b>Download our App on Android or iPhone and get the best bus booking deals across India </b></h3><br>
      
      <table><tr><th><img src="https://www.investopedia.com/thmb/hJrIBjjMBGfx0oa_bHAgZ9AWyn0=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/qr-code-bc94057f452f4806af70fd34540f72ad.png" width="160" alt=""></th><th><h6><img src="https://thumbs.dreamstime.com/b/basic-rgb-179717724.jpg" width="200" alt=""></h6></th><th>Rating <br>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-half"></i></i><br>4.4 <br><br>
      Rating <br>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-half"></i></i>
      <i class="bi bi-star"></i><br>3.4
      </th></tr></table>
      
    </div>
  </div>
  <hr>
    {{>footer}}
    <script src="public/js/bus_city_auto_suggestion.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
