<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <div class="w3-panel w3-pale-red w3-leftbar w3-border-red">
    <p>{{obj}}</p>
  </div>
  <a href="/login" class="w3-button w3-white w3-border w3-border-blue">login </a>
<a href="/signup"  class="w3-button w3-white w3-border w3-border-blue"> signup</a>
</div>

</body>
</html>
